{% extends 'base.html' %}
{% block title %}Blog {% endblock %}

        {% block nav-item %}
                <li class="nav-item fs-4 pe-4 " ><form  ><input  type="text" ></form></li>
                <li class="nav-item fs-4 pe-4 " ><a href="{% url 'user_logout' %}" class="nav-link text-dark text-end " >Logout</a></li>
        {% endblock %}


{% block body %}

{% if messages %}

    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success">
                {{ message}}
        {% else %}
            <div class="alert alert-error">
                {{ message}}
            </div>
        {% endif %}
    {% endfor %}

{% endif %}


<div class="px-3 mt-3" >
    <button class="btn btn-primary "><a href="{% url 'create_post' %}" class="text-white"  >Create Post</a></button>
    {{ hello }}
</div>
<div class="container mt-5 col-7" align="center"  >
    {% for post in posts %}

    <div class="mb-5" >
        <div class="row" >
            {{ post.user.username }}
        </div>



        <div class="row   border " >

            <div class=" px-0 me-0 fw-bolder fs-3 col text-start " >
                {{ post.title }}
            </div>


            <div class="col badge text-black  text-end " >
                {{ post.created_at|date:"d-M-Y"  }}
            </div>

        </div>

        <div class="row fs-4 " >
            {{ post.into }}
        </div>

        <div class="row fs-5" >
            {{ post.body }}
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}
<!--    title = models.CharField(max_length=255)-->
<!--    url = models.SlugField()-->
<!--    into = models.TextField()-->
<!--    body = models.TextField()-->
<!--    created_at = models.DateField(auto_now=True)-->