{% extends 'base.html' %}
    {% block title %} Login {% endblock %}
    {%  block  nav-item %}
        <li class="nav-item fs-4 pe-4 fw-bold " > <a class="nav-link" href="{% url 'home' %} ">HOME</a>  </li>

    {% endblock %}
    {% block body %}
        <div class="container col-9  py-2  " >
            <div class="container col-6 py-5 px-5 mt-5  border border-dark bg-white " >
                <h1 class="text-center  mb-5 " >Login</h1>
                    {% if error_msg %}
                        {% for error in error_msg %}
                            <p class="text-danger fs-5 fw-bolder " > {{ error }} </p>
                        {% endfor %}
                    {% endif %}
                <form   action="{% url 'user_login' %}" method="post"  >
                        {% csrf_token %}
                    <div class="pb-4 fs-6 " >
                            <label class="form-label" >User name/Email</label>
                            <input class="form-control" placeholder="Enter Email"  type="text" name="user_email" >
                    </div>

                    <div class="pb-4 fs-6 " >
                        <label class="form-label" >Password</label>
                        <input class="form-control" placeholder="Enter Password"  type="password" name="password" >
                    </div>

                    <div class="text-center" >
                        <button  class="col-6 btn btn-primary py-2 " type="submit" >Login</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}